@{
    ViewBag.Title = "Contact";
}

<h2>Contact.</h2>
<p>Thông tin liên hệ.</p>

<address class="mb-4">
    25P. Vũ Ngọc Phan<br />
    <abbr title="Phone">P:</abbr> 0955555555
</address>

<p>
    Support: <a href="mailto:Hocxongmoichoi@gmail.com">Hocxongmoichoi@gmail.com</a><br />
    Marketing: <a href="mailto:Hocxongmoichoi@gmail.com">Hocxongmoichoi@gmail.com</a>
</p>
<hr />
<p>© Sau Rieng Duy Anh</p>
